<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="NATS.Client.Core" version="2.5.3" />
  <package id="NATS.Client.Hosting" version="2.5.3" />
  <package id="NATS.Client.JetStream" version="2.5.3" />
  <package id="NATS.Client.KeyValueStore" version="2.5.3" />
  <package id="NATS.Client.ObjectStore" version="2.5.3" />
  <package id="NATS.Client.Serializers.Json" version="2.5.3" />
  <package id="NATS.Client.Services" version="2.5.3" />
  <package id="NATS.Client.Simplified" version="2.5.3" />
  <package id="NATS.Net" version="2.5.3" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" />
  <package id="System.IO.Pipelines" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>